# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets & Temp Files
*.csv
*.parquet
*.zip
*.tar.gz
*.tgz
*.log
temp_*.parquet

# OS specific files
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# Docker volumes
docker-volumes/

# Allow Spark ML models Parquet files
!*model/**/*.parquet

